@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>UNAYOE</h1>
    <p class="lead">La Unidad de Asesoría y Orientación al Estudiante (UNAYOE) de la Facultad de Ingeniería de Sistemas e Informática de la UNMSM, tiene la misión de brindar asesoramiento y orientación a los estudiantes en las actividades académicas para el éxito de su formación profesional.</p>
    <p><a href="https://sistemas.unmsm.edu.pe/site/slider/358-unayoe#:~:text=La%20Unidad%20de%20Asesoría%20y,éxito%20de%20su%20formación%20profesional." class="btn btn-primary btn-lg">MAS &raquo;</a></p>
</div>

<div class="row">
@*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
<div class="col-md-4">
        <h2>MISIÒN</h2>
        <p>
            La Unidad de Asesoría y Orientación al Estudiante, es la unidad organica
            encargada de brindar asesoramiento y orientación a los estudiantes de la Facultad
            en las actividades académicas para el éxito de su formación profesional. Igualmente
            brinda el servicio de detección y tratamiento de problemas psicopedagógicos, realizando
            el seguimiento de su rendimiento.
        </p>
        <p><a class="btn btn-default" href="https://sistemas.unmsm.edu.pe/site/unayoe">MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VISIÒN</h2>
        <p>Nuestro fin esta ligado a la obtencion de una optima salud mental y buena guia academica
            para los estudiantes,las cuales hayan experimentado situaciones desagradables, de la
            facultad de ingenieria de sistemas e informatica.
        </p>
        <p><a class="btn btn-default" href="https://sistemas.unmsm.edu.pe/site/unayoe">MAS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DONDE NOS UBICAS</h2>
        <p>
            Tercer piso del pabellon antiguo de la Facultad de Ingeniería de Sistemas e Informática

            Atendemos de lunes a viernes de 8:00am a 1:00pm y de 2:00pm a 16:00pm
        </p>
        <p><a class="btn btn-default" href="https://outlook.live.com/mail/0/deeplink/compose?mailtouri=mailto%3Aunayoe.fisi%40unmsm.edu.pe">CORREO &raquo;</a></p>
    </div>
</div>
